a:link, a:visited {
  background-color: yellow;
  color: GoldenRod;
  border: 2px solid GoldenRod;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: GoldenRod;
  color: yellow;
  border: 2px solid yellow;
}

