a:link, a:visited {
  background-color: LightGray;
  color: Olive;
  border: 2px solid Olive;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: Olive;
  color: LightGray;
  border: 2px solid LightGray;
}

